.mat-date-range-input-inner:disabled{

  color: black;

}
.mat-input-element:disabled{
  font-size: larger;
  font-weight: 400;
  color: black;
}
.sectionHeader{
  color: blueviolet;
  font: message-box;
}
::ng-deep .mat-select-disabled .mat-select-value {
  color: black !important;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

/* .mat-form-field-label{

  color: black;
  font-weight: 500;
}
.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: black;
  font-weight: 500;
} */



