<div class="mat-typography" fxLayoutAlign="center center">
    <h1> WH-to-WH Inward</h1>
</div>
<mat-tab-group mat-stretch-tabs color="primary" [(selectedIndex)]="selectedIndex" class="mat-elevation-z8">
    <mat-tab label="List" style="border-right:2px outset rgba(47, 20, 223, 0.27);">
    <ng-template matTabContent>
        <mat-accordion>
            <mat-expansion-panel >
              <mat-expansion-panel-header >
                <mat-panel-title>
                  Table Filter
                </mat-panel-title>
                <mat-panel-description>
                  Expand Table Filter
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>

<div fxLayout="row" fxLayoutAlign="center center">
<mat-form-field appearance="fill" style="margin: left 10px;">
<mat-label>DISCOM</mat-label>
<input matInput type="text" [(ngModel)]='discomSearch' >
</mat-form-field>

<mat-form-field appearance="fill" style="margin-right: 10px;">
<mat-label>Item Group</mat-label>
<input matInput type="text" [(ngModel)]='itemGroupSearch'>
</mat-form-field>

<mat-form-field appearance="fill" style="margin-right: 10px;">
  <mat-label>Item Name</mat-label>
  <input matInput type="text" [(ngModel)]='itemNameSearch'>
  </mat-form-field>

  <button mat-stroked-button color="primary"  style="margin-left: 10px;" (click)="searchWithFilter()"> <mat-icon>search</mat-icon> </button>
</div>
</ng-template>
</mat-expansion-panel>
</mat-accordion>
<!-- <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8"> -->

    <div fxLayout="column">
<mat-progress-bar
   mode="indeterminate"
   *ngIf="isLoading"
></mat-progress-bar>
   <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="width: 200%;">
    <ng-container matColumnDef="trnStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Trn Status</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["trnStatus"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="transactionID">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">TransactionID</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["transactionID"] }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="discomFrom">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Warehouse From</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["discomFrom"]}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="discomTo">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Warehouse To</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["discomTo"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="inwardDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Inward Date</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["inwardDate"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dcNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">DC Number</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["dcNo"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Item Group</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["itemGroup"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemModelName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Item Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["itemModelName"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="supplier">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Item Supplier</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["supplier"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Item Status</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["itemStatus"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="disQty">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Dis.Qty</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["disQty"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="rcdQty">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Rcd.Qty</mat-header-cell>
      <mat-cell *matCellDef="let element" class="TableDataCell">{{ element["rcdQty"] }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="docUpload" >
      <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">View Document</mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index" class="TableDataCell">
    {{element.docUpload | json}}
    <button mat-button type="button" color="primary" (click)="downloadDocument(element.docUpload)" > {{ element["docUpload"] }} <mat-icon>download</mat-icon></button>
      </mat-cell>
    </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple
      (click)="navToDetails(row)"
      *matRowDef="let row; columns: displayedColumns"></mat-row>
   </mat-table>

   <mat-paginator
   [length]="totalRows"
   [pageSize]="pageSize"
   [pageIndex]="currentPage"
   [pageSizeOptions]="pageSizeOptions"
   showFirstLastButtons
   (page)="onChangePage($event)"
   aria-label="Select page"
 ></mat-paginator>

    </div>

    <!-- </mat-table> -->
<!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
</ng-template>

</mat-tab>

<mat-tab label="Detail">
     <app-wh-to-wh-inward-details [srNoValue]="internalSrNoValue" [latestSrNoValue]="latestSrNoValue" (dataSaved)="loadListTab()" [detailData]="detailData" [isEditable]="isEditable" [isNavigation]="isNavigation"></app-wh-to-wh-inward-details>
</mat-tab>

</mat-tab-group>
<div class="overlay" *ngIf="spinner">
    <div class="spinner">
      <mat-progress-spinner diameter="50" mode="indeterminate" color="accent">
      </mat-progress-spinner>
    </div>
    </div>



    <div style="z-index:2; position : fixed;bottom : 5%;left: 95%; margin-bottom : 1%;" *ngIf="selectedIndex==0">
        <button mat-fab color="primary" (click)="addNewWHtoWHInwardImport()" *ngIf="isEditable" title="Add New WH-WH Inward Import">
        <mat-icon>add</mat-icon>
        </button>
        </div>





