<div
  class="login-wrapper"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFlexFill
  style="height: auto"
>
  <img
    fxFlexAlign="center"
    style="width: 50%; height: 50%"
    src="../../assets/elecity.jpg"
  />
  <div fxLayout="column">
    <img
    fxFlexAlign="center"
    style="width: 20%; height: 20%"
    src="../../assets/login.png"
  />
    <mat-card style="margin-left: 10px">
      <form
        class="loginForm"
        fxLayout="column"
        fxLayoutAlign="center "
        name="form"
        #f="ngForm"
        novalidate
      >
        <mat-card-content>
          <mat-form-field fxFill>
            <input
              class="loginFormInput"
              matInput
              placeholder="Username"
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
            />
          </mat-form-field>

          <mat-form-field fxFill>
            <input
              matInput
              placeholder="Password"
              type="password"
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="5"
              #password="ngModel"
            />
          </mat-form-field>
          <span style="color: Red;">{{message}}</span>
        </mat-card-content>
      </form>
      <mat-card-actions>
        <button
          fxFill
          fxFlexAlign="center"
          mat-stroked-button
          color="accent"
          class="btn-block"
          (click)="f.form.valid && onSubmit()"
        >
          Sign-in
        </button></mat-card-actions
      >
    </mat-card>
  </div>
  <!-- </div> -->
</div>
