<!-- <mat-toolbar style="background-color: #dae8e8"> -->
<mat-toolbar color="primary">
  <!-- <img
    mat-card-image
    style="max-width: 250px"
    src="../../assets/lntlogoNoBg.png"
  /> -->
  <img
    style="max-width: 250px"
    src="../../../assets/lnt_white.png"
  />
  <div fxFlex fxLayoutAlign="flex-end center" fxLayoutGap="20px">
    <button  mat-raised-button  routerLink="./register" routerLinkActive="active" color="warn">Register</button>
    <button mat-raised-button (click)="openloginModal()">Login</button>
  </div>
</mat-toolbar>
<div  style="margin: 60px;height: 80%;" >
  <div fxLayout="row" fxLayoutAlign="space-around stretch"  fxFill fxLayoutGap="20px"   >
    <!-- <div fxLayout="column" fxFlex="50" >
        <img style="width:100%;height:150%"   src="../../assets/tower.png" >
    </div>

    <div fxLayout="column" fxFlex="50" >
      <img  fxFlexAlign="center" style="width:50%;height:50%" src="../../assets/ami.png" >
      <span fxFlexAlign="center" style="font-weight:bold;">Integrated Dashboard</span>
  </div> -->
  <div fxLayout="column"  >
    <img style="height:100%;"   src="../../assets/tower.png" >
    <!-- <img style="width:100%;height:100%"   src="../../assets/tower.png" > -->
</div>
  </div>
</div>
