<form [formGroup]="fieldUserAllotmentForm" autocomplete="off" (ngSubmit)="saveFieldUserAllotment()" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()">
    <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-around  center">
        <div fxLayout="column" fxLayoutAlign="space-around  center">
            <mat-form-field appearance="fill" >
                <mat-label>Allocation DataType</mat-label>
                <mat-select formControlName="allocationDatatype">
                  <mat-option  value="CI">CI</mat-option>
                  <mat-option  value="MI">MI</mat-option>
                  <mat-option  value="o&m">O&M</mat-option>
                  <mat-option  value="enh">ENH</mat-option>
                </mat-select>
            </mat-form-field>


            <!-- <mat-form-field appearance="fill">
                <mat-label>Allocation DataType</mat-label>
                <mat-select [formControl]="allocationDataType" multiple>
                  <mat-option *ngFor="let item of allocationDataTypeList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field> -->
              
                
            
            <mat-form-field appearance="fill">
                <mat-label>Agency</mat-label>
                <input type="text" matInput formControlName="agency">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Mobile No</mat-label>
                <input type="text" matInput formControlName="mobile"  (change)="fetchAllData()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>UserId</mat-label>
                <input type="text" matInput formControlName="userId" (change)="fetchAllData()">
            </mat-form-field>
        </div>
   
        

        <div fxLayout="column" fxLayoutAlign="space-around  center">
            <mat-form-field appearance="fill" >
                <mat-label>Division</mat-label>
                <!-- <mat-select formControlName="divisionId"> -->
                  <!-- <mat-option  value={{agency}}>{{agency}}</mat-option> -->
                  <!-- <mat-option  value="division2">Division2</mat-option>
                  <mat-option  value="division3">Division3</mat-option>
                  <mat-option  value="division4">Division4</mat-option> -->
                <!-- </mat-select> -->

                
                <input type="text" matInput  formControlName="divisionId">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>User Full Name</mat-label>
                <input type="text" matInput  formControlName="fieldUser">
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Allocation</mat-label>
                <mat-select formControlName="allocationId">
                  <mat-option  value="fresh">Fresh</mat-option>
                  <mat-option  value="reallocation">ReAllocation</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
    </div> 
    <mat-card-actions fxLayout="row" fxLayoutAlign="end start" >
        <button mat-raised-button type="submit" color="primary" dir="rtl" fxFlexOffset="10" fxFlex="10">Save</button>
  </mat-card-actions>
    </mat-card>
</form>
