<div class="mat-typography" fxLayout="center center">
  <h1>Import Hes Data  </h1>
</div>
<mat-tab-group mat-stretch-tabs color="primary" [(selectedIndex)]="selectedIndex" #tabGroup class="mat-elevation-z8">
  <mat-tab label="List" style="border-right: 2px outset  rgba(1,75,136,0.27);">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Table Filter
            </mat-panel-title>
            <mat-panel-description>
              Expand Table Filter
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div fxLayout="row" fxLayoutAlign="center">
              <mat-form-field appearance="fill" style="margin-left: 10px;">
                 <mat-label>counter</mat-label>
                 <input matInput type="text"[(ngModel)]="counterSearch">
              </mat-form-field>
              <button mat-stroked-button color="primary" style="margin-left: 10px;" ><mat-icon>search</mat-icon></button>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

      <div fxLayout="column">
        <mat-progress-bar
         mode="indeterminate"
         *ngIf="isLoading">
        </mat-progress-bar>
        <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="uploadDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Upload Date</mat-header-cell>
            <mat-cell *matCellDef="let element" class="TableDataCell">{{element["uploadDate"]}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="counter">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Counter</mat-header-cell>
            <mat-cell *matCellDef="let element" class="TableDataCell">{{element["counter"]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="count">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Count </mat-header-cell>
            <mat-cell *matCellDef="let element" class="TableDataCell">{{element["count"]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Action</mat-header-cell>
            <mat-cell *matCellDef="let element" class="TableDataCell">{{element["action"]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="TableHeader">Download</mat-header-cell>
            <mat-cell *matCellDef="let element" class="TableDataCell">{{element["download"]}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
          <mat-row matRipple
          *matRowDef="let row; columns: displayedColumns"
          (click)='navToDetails(row)'
          ></mat-row>
        </mat-table>
        <mat-paginator
        [length]="totalRows"
        [pageSize]="pageSize"
        [pageIndex]="currentPage"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        (page)="onChangePage($event)"
          aria-label="Select page"
        ></mat-paginator>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Details">
   <app-import-hes-data-details (dataSaved)="loadListTab()"></app-import-hes-data-details>
  </mat-tab>
</mat-tab-group>
<div class="overlay" *ngIf="spinner">
  <div class="spinner">
    <mat-progress-spinner diameter="50" mode="indeterminate" color="accent">

    </mat-progress-spinner>
  </div>
</div>
<div style="z-index:2; position : fixed;bottom : 5%;left: 95%; margin-bottom : 1%;" *ngIf="selectedIndex==0">
  <button mat-fab color="primary" (click)="addNewHesData()" *ngIf="isDetailsEditable" title="Add New Hes Data">
  <mat-icon>add</mat-icon>
  </button>
  </div>
