<form
  [formGroup]="inwardImportForm"
  autocomplete="off"
  (ngSubmit)="saveInwardImport()"
  (keydown.enter)="$event.preventDefault()"
  (keydown.shift.enter)="$event.preventDefault()"
>
  <mat-card *ngIf="!showSerialData">
    <div style="margin-left: 50px;margin-right: 100px;">
    <div fxLayout="row"fxLayoutAlign="space-between start">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.px]="420">
          <mat-label>Discom</mat-label>
          <mat-select formControlName="discom">
            <mat-option *ngFor="let item of totalDiscomsList" [value]="item.shortCode">{{
              item.shortDescription
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="inwardImportForm.controls['discom'].hasError('required')"
          >
            Discom is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.px]="500">
          <mat-label>Warehouse</mat-label>
          <mat-select formControlName="warehouseName">
            <mat-option *ngFor="let item of warehouseList" [value]="item.warehouseName">{{
              item.warehouseName
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              inwardImportForm.controls['warehouseName'].hasError('required')"
          >
            Warehouse is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [style.width.px]="500">
          <mat-label>Supplier</mat-label>
          <mat-select formControlName="supplier">
            <mat-option *ngFor="let item of supplierList" [value]="item.supplier">{{
              item.supplier
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="inwardImportForm.controls['supplier'].hasError('required')"
          >
            Supplier is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row"
     fxLayoutAlign="space-between start"
      style="margin-top: 10px"
    >
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Invoice No</mat-label>
          <input
            type="number"
            matInput
            formControlName="invoiceNo"
          />
          <mat-error
            *ngIf="inwardImportForm.controls['invoiceNo'].hasError('required')"
          >
            Invoice No is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['invoiceNo'].hasError('pattern')">
            Invoice No not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Invoice Date</mat-label>
          <input
            matInput
            [matDatepicker]="invoicePicker"
            formControlName="invoiceDate"
          />
          <mat-error
            *ngIf="
              inwardImportForm.controls['invoiceDate'].hasError('required')
            "
          >
            Invoice Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="invoicePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #invoicePicker
          ></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Gin No</mat-label>
          <input
            type="number"
            matInput
            formControlName="ginNo"
          />
          <mat-error
            *ngIf="inwardImportForm.controls['ginNo'].hasError('required')"
          >
            Gin No is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['ginNo'].hasError('pattern')">
            Gin No not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Gin Date</mat-label>
          <input
            matInput
            [matDatepicker]="ginPicker"
            formControlName="ginDate"
          />
          <mat-error
            *ngIf="inwardImportForm.controls['ginDate'].hasError('required')"
          >
            Gin Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="ginPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #ginPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row"
     fxLayoutAlign="space-between start"
      style="margin-top: 10px"
    >
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Item Group</mat-label>
          <mat-select (selectionChange)="itemGroupLookUp($event)" formControlName="itemGroup">
              <mat-option *ngFor="let item of itemGroupValues" [value]="item.itemGroup">{{item.itemGroup}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="inwardImportForm.controls['itemGroup'].hasError('required')"
          >
            Item Group is <strong>required</strong>
          </mat-error>
        </mat-form-field>



      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Item Model Name</mat-label>
          <mat-select formControlName="itemModelName" (selectionChange)="itemNameLookUp($event)">
            <mat-option *ngFor="let item of itemModelNameValues" [value]="item.itemModelName">{{
              item.itemModelName
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="inwardImportForm.controls['itemModelName'].hasError('required')"
          >
            Item Model Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Item Supplier</mat-label>
          <input type="text" matInput formControlName="itemSupplier" >
          <mat-error
            *ngIf="inwardImportForm.controls['itemSupplier'].hasError('required')"
          >
            Item Make is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['itemSupplier'].hasError('pattern')">
            Item Make not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Item Category</mat-label>
          <input type="text" matInput formControlName="itemCategory">
          <mat-error
            *ngIf="inwardImportForm.controls['itemCategory'].hasError('required')"
          >
            Item Type is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['itemCategory'].hasError('pattern')">
            Item Type not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row"
     fxLayoutAlign="space-between start"
      style="margin-top: 10px"
    >
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input type="number" matInput formControlName="quantity" />
          <mat-error
            *ngIf="inwardImportForm.controls['quantity'].hasError('required')"
          >
            Quantity is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['quantity'].hasError('pattern')">
            Quantity not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Item Status</mat-label>
          <mat-select formControlName="itemStatus">
            <mat-option *ngFor="let item of itemstatus" [value]="item.name">{{
              item.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="inwardImportForm.controls['itemStatus'].hasError('required')"
          >
            Item Status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Transporter</mat-label>
          <input type="text" matInput formControlName="transporter" />
          <mat-error
            *ngIf="
              inwardImportForm.controls['transporter'].hasError('required')
            "
          >
            Transporter is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['transporter'].hasError('pattern')">
            Transporter not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>LR No</mat-label>
          <input type="number" matInput formControlName="lrNo" />
          <mat-error
            *ngIf="inwardImportForm.controls['lrNo'].hasError('required')"
          >
            LR No is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['lrNo'].hasError('pattern')">
            LR No not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div
      fxLayout="row"
     fxLayoutAlign="space-between start"
      style="margin-top: 10px"
    >
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field appearance="outline">
        <mat-label>LR Date</mat-label>
        <input
          matInput
          [matDatepicker]="lrPicker"
          formControlName="lrDate"
        />
        <mat-error
          *ngIf="inwardImportForm.controls['lrDate'].hasError('required')"
        >
          LR Date is <strong>required</strong>
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="lrPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #lrPicker></mat-datepicker>
      </mat-form-field>
    </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Vehicle No</mat-label>
          <input type="text" input #vehicleNo (input)="vehicleNo.value=vehicleNo.value.toUpperCase()"  matInput formControlName="vehicleNo">
          <mat-error
            *ngIf="inwardImportForm.controls['vehicleNo'].hasError('required')"
          >
            Vehicle No is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['vehicleNo'].hasError('pattern')">
            Vehicle No not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Driver Name</mat-label>
          <input type="text" matInput formControlName="driverName" />
          <mat-error
            *ngIf="inwardImportForm.controls['driverName'].hasError('required')"
          >
            Driver Name is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="inwardImportForm.controls['driverName'].hasError('pattern')">
            Driver Name not allowed <strong>WhiteSpases</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Contact No</mat-label>
          <input type="number" matInput formControlName="contactNo" />
          <mat-error
            *ngIf="inwardImportForm.controls['contactNo'].hasError('required')"
          >
            Contact No is <strong>required</strong>
          </mat-error>
          <mat-error
                  *ngIf="inwardImportForm.controls['contactNo'].hasError('pattern')"
                >
                  Enter 10 digit Number <strong>Start with [6-9]</strong>
                </mat-error>

                <mat-error
            *ngIf="inwardImportForm.controls['contactNo'].hasError('pattern')">
            Contact No not allowed <strong>WhiteSpases</strong>
          </mat-error>

          <!-- <mat-error
            *ngIf="inwardImportForm.controls['contactNo'].hasError('pattern')">
            Contact No not allowed <strong>WhiteSpases</strong>
          </mat-error> -->
        </mat-form-field>
      </div>

    </div>

    <div

    fxLayout="row"
    fxLayoutAlign="start start"
    style="margin-top: 10px ;"
    >
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field appearance="outline">
        <mat-label>Stock Type</mat-label>
        <mat-select formControlName="stockType">
          <mat-option *ngFor="let item of stockType" [value]="item.name">{{
            item.name
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="inwardImportForm.controls['stockType'].hasError('required')"
        >
        Stock Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" style="margin-left: 225px;">
      <mat-form-field appearance="outline">
        <mat-label>PDI Date</mat-label>
        <input
          matInput
          [matDatepicker]="pdiPicker"
          formControlName="pdiDate"
        />
        <mat-error
          *ngIf="inwardImportForm.controls['pdiDate'].hasError('required')"
        >
          PDI Date is <strong>required</strong>
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="pdiPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #pdiPicker></mat-datepicker>
      </mat-form-field>
    </div>


    </div>
    <div
    fxLayout="row"
    fxLayoutAlign="start start"
    style="margin-top: 10px ;"
    >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field appearance="outline" [style.width.px]="500">
        <mat-label>Remark</mat-label>
        <textarea
          matInput
          rows="5"
          cols="100"
          formControlName="remark"
        ></textarea>
        <mat-error
        *ngIf="inwardImportForm.controls['remark'].hasError('required')">
        Remark is <strong>required</strong>
      </mat-error>
      <mat-error
      *ngIf="inwardImportForm.controls['remark'].hasError('pattern')">
      Remark not allowed <strong>WhiteSpases</strong>
    </mat-error>
      </mat-form-field>
      <div style="margin-left: 250px;">
        <input hidden type="file" #docuemntUploader (change)="uploadDataDocument($event)" accept=".pdf" />
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="docuemntUploader.click()"
        >
        Document Upload<mat-icon>left</mat-icon>
        </button>
  <!--
      <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="showSerialNoListDetails()">
      Document Upload<mat-icon>left</mat-icon>
    </button>-->
  </div>

      <!-- <mat-checkbox class="example-margin"
        >Skip File Upload</mat-checkbox
      >
      <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="showSerialNoListDetails()">
      Show Serial Data <mat-icon>left</mat-icon>
    </button> -->
    </div>

  </div>


  </div>

    <!-- <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px; ">
        <div fxLayout="column" fxLayoutAlign="start start">

        <mat-checkbox class="example-margin" #fileUpload>Skip File Upload</mat-checkbox>
        </div>
      </div> -->
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px">
      <div fxLayout="column" fxLayoutAlign="start start">
        <input hidden type="file" #uploader (change)="uploadDataFile($event)" accept=".xlsx" />
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="uploader.click()"
        >
          Upload <mat-icon>upload</mat-icon>
        </button>
        <!--
          <mat-form-field appearance="legacy" *ngIf="fileUpload">
            <mat-label>File Upload</mat-label>
            <input type="text" matInput disabled/>
            <button matPrefix
            mat-raised-button
            type="button"
            color="primary"
            (click)="uploader.click()"
          >
            Upload <mat-icon>upload</mat-icon>
          </button>
          </mat-form-field> -->

        <!-- <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="uploader.click()"
        >
          Upload <mat-icon>upload</mat-icon>
        </button> -->
      </div>
    </div>

    <mat-card-actions
      fxLayout="row"
      fxLayoutAlign="center start"
      style="margin-top: 10px"
    >
      <button mat-raised-button type="submit" color="primary" fxFlex="8">Import</button>
      <button
        mat-raised-button
        type="button"
        (click)="backToList()" fxFlex="8"
        color="primary"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="showSerialData">
    <app-display-serial-no-list [serialNoList]="serialNoList" (returnToDetails)="showDetailsView()"></app-display-serial-no-list>
  </div>
</form>
<!-- {{ this.inwardImportForm.getRawValue()|json}} -->
