<form [formGroup]="simActivationDeactivationForm"  autocomplete="off" (ngSubmit)="saveSimActivationDeactivation()" (keydown.enter)="$event.preventDefault()"
    (keydown.shift.enter)="$event.preventDefault()">
  <mat-card>
    <div style="margin-left: 50px;margin-right: 100px;">
    <div fxLayout="row"fxLayoutAlign="space-around start">
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Discom</mat-label>
          <mat-select formControlName="discom">
              <mat-option *ngFor="let item of discoms" [value]="item.name">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="margin-right: 1055;">
        <mat-form-field appearance="outline">
          <mat-label>Warehouse</mat-label>
          <mat-select formControlName="warehouseName">
              <mat-option *ngFor="let item of warehouses" [value]="item.name">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Activation/Deactivation date</mat-label>
          <input matInput [matDatepicker]="actDeactPicker" formControlName="activationDeactivationDate">
          <mat-datepicker-toggle matSuffix [for]="actDeactPicker"></mat-datepicker-toggle>
          <mat-datepicker #actDeactPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input type="text" matInput formControlName="qty">
        </mat-form-field>
      </div>
      </div>
      <div

      fxLayout="row"
      fxLayoutAlign="space-around center"
      style="margin-top: 30px ; margin-right: 480px;"
      >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <mat-form-field appearance="outline" [style.width.px]="500">
            <mat-label>Remark</mat-label>
            <textarea
              matInput
              rows="5"
              cols="100"
              formControlName="remark"
            ></textarea>
          </mat-form-field>

          <mat-checkbox class="example-margin"
            >Skip File Upload</mat-checkbox
          >
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
      <div fxLayout="column" fxLayoutAlign="start start">
        <input hidden type="file" #uploader (change)="uploadFile($event)" />
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="uploader.click()"
        >
          Upload <mat-icon>upload</mat-icon>
        </button>
      </div>
    </div>

    <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="center start"
    style="margin-top: 30px"
  >
    <button mat-raised-button type="submit" color="primary" fxFlex="8">Import</button>
    <button
      mat-raised-button
      type="submit"
      (click)="backToList()" fxFlex="8"
      color="primary"
    >
      Cancel
    </button>
  </mat-card-actions>
  </mat-card>
  </form>
