<!-- <mat-stepper [linear]="true" #stepper  fxFlexFill> -->
<form [formGroup]="itemgroupform" (submit)="saveItemGroupData()" autocomplete="off" (keydown.enter)="$event.preventDefault()"
(keydown.shift.enter)="$event.preventDefault()">
<mat-card>
<div style="margin-left: 50px;margin-right: 100px;">
<div fxLayout="column" style="margin-top: 30px" >
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-form-field appearance="outline" >
        <mat-label>Group</mat-label>
        <input [disabled]="true" type="text" matInput formControlName="itemGroup" >
        <mat-error *ngIf="itemgroupform.controls['itemGroup'].hasError('required')">
            Item Group is<strong>required</strong>
        </mat-error>
        <mat-error *ngIf="itemgroupform.controls['itemGroup'].hasError('required')">
            not allowed <strong>Whitespace</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Transactional Mechanism</mat-label>
                    <mat-select formControlName="transactionMechnsm" multiple>
                        <mat-option value="scanner">Scanner</mat-option>
                        <mat-option value="manualSerial">Manual Serial</mat-option>
                        <mat-option value="manualGroup">Manual Group</mat-option>
                        <mat-option value="qty">Qty</mat-option>
                    </mat-select>
    </mat-form-field>

    <!-- <mat-checkbox lable="status" formControlName="status"> Status</mat-checkbox> -->
</div>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
    <!-- <button mat-raised-button  color="primary" type='button'  (click)="createApprover()" *ngIf="isEditable && isNavigation " >Create Approver <mat-icon>forward</mat-icon></button> -->
    <button mat-raised-button  color="primary" type='button'  (click)="addNewUserErrorMessage()"> <mat-icon>add</mat-icon> Add UserError Msg</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
  <mat-table  [dataSource]="dataSource" class="mat-elevation-z8" fxFlex >

    <ng-container matColumnDef="srNo" >
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef  class="TableHeader">Sr.No</mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let element; let i = index;" class="TableDataCell" >
        {{i+1}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="errorCode">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef  class="TableHeader">Error Code</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index" class="TableDataCell" [formGroup]="element" fxLayoutAlign="center center">

    <mat-form-field  appearance="fill">
      <mat-label>Error Code</mat-label>

      <input type="text" matInput formControlName="errorCode">
    </mat-form-field>
    </mat-cell>
    </ng-container>


    <ng-container matColumnDef="errorDescription">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef  class="TableHeader">Error Description</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index" class="TableDataCell" [formGroup]="element" fxLayoutAlign="center center">

    <mat-form-field  appearance="fill">
      <mat-label>Error Description</mat-label>

      <input type="text" matInput formControlName="errorDescription">
    </mat-form-field>
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">

      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef  class="TableHeader">Action</mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let element;let i = index" class="TableDataCell" [formGroup]="element">
        <button mat-raised-button type="button" color="warn" (click)="removeUserErrorMsg(i)" title="Remove Discom"><mat-icon>delete_forever</mat-icon></button>
      </mat-cell>

    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
    <!-- <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
      (click)="showDetails(row)">
    </mat-row> -->
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;let i = index"
    ></mat-row>
  </mat-table>

</div>



 <mat-card-actions fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px" fxLayoutGap="10px">
    <button mat-raised-button type="button" (click)="backToList()" color="primary" dir="rtl" fxFlex="8">Cancel</button>
    <button mat-raised-button type="submit" color="primary" dir="rtl"  fxFlex="8">Save</button>

</mat-card-actions>
</mat-card>
</form>
<!-- </mat-stepper> -->
